[Unit]
Description=Rest Server

[Service]
Type=simple
User=rest
Group=rest
WorkingDirectory=/opt/server
ExecStart=/bin/nohup /usr/java/jdk1.8.0_60/bin/java -jar /opt/server/server.jar
